<fieldset>
	<legend>Order List</legend>
	<% for order in @orders %>
	<li><%= order.type %>ordered from <%= order.restaurant %> at <%= order.created_at %></li>
	<% end %>
</fieldset>

<fieldset>
	<legend>Friends Activity</legend>
</fieldset>
<br/>
