<div class="container">
  <div class="row">
    <div class="col-sm-6">

<div class="orderlist">

<fieldset>
	<legend class="h1norder">Order List</legend>
		<% @orders.each do |order|%>
		<div id="ordershereTest">
			<div class="post_wrapper">
				<% if order.mtype == 0 %>
				  	<h4>BreakFast</h4>
				<% else %>
				  	<h4>Lunch</h4>
				<% end %>
				<h4>From :</h4><h4> <%= order.restaurant %></h4></br></br>
				<h4> Ordered By :</h4><h4><%= User.find(order.user_id).name%></h4>
				 ...<h4><%=  time_ago_in_words(order.created_at) %></h4> <h4>ago</h4>
				 </br><br><h4>
				<%= link_to "Show", order_path(order.id) %></h4></br></br>
			</div>
		</div>
		<% end %>
</fieldset>

</div>
</div>
<div class="col-sm-6">
<div class="friendsactivity">
<fieldset>
	<legend class="h1norder">Friends Activity</legend>
</fieldset>
</div>

</div>
</div>


<br/>
